page-login {}


.logo {
  img {
    height: 40vh !important;
    width: 40vh !important;
    align-items: center;
    background: none transparent;
  }
}


.home-container .row-center img {
    margin-left:90px;
}